@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Task Management</h1>
    <p>Welcome! This application lets you manage what task need to be done and their status.</p>
</div>
